body{
    margin: 0px; /*ung gilid walang space*/
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    /*margin: 50px;*/
}
#box1{
    background-color: rgb(255, 63, 63);
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
}
#box2{
    background-color: rgb(70, 70, 255);
    margin-left: auto;
}