body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* container */
main {
    width: 300px;
    margin: 60px auto; /* center */
    padding: 20px;
    background-color: white;
    text-align: center;

    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* profile pic */
img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* text */
.bio {
    font-size: 14px;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.contact {
    margin-top: 10px;
    font-size: 13px;
}

/* button */
button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}